@import './base.less';
@import './normalize.less';
@import './commen.less';

.current{
    display:none;
}

// 分界线
.m_line{
    // height: 50/@base;
    width: 100%;
    background-color: #ccc;
 
    .ta{
    text-align: center;

        height: 82/@base;
        line-height: 82/@base;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
  

}